* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: iransans, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@font-face {
  font-family: iransans;
  src: url(../assets/fonts/IRANSansWeb-Light.ttf);
  src: url(../assets/fonts/IRANSansWeb-Light.woff2);
  src: url(../assets/fonts/IRANSansWeb-Light.woff);
}
header {
  background: url(../assets/images/header-back-1.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 70px;
  position: fixed;
  top: 0px;

  img {
    position: relative;
    top: 50px;
  }
  nav {
    display: flex;
    .menu-item-a {
      &:last-of-type {
        border-left: none;
      }
    }

    .menu-item {
      color: rgb(154, 150, 145);
      text-decoration: none;
      border-left: 1px solid rgba(150, 149, 149, 0.733);
      position: relative;
      padding: 0px 10px;
      cursor: pointer;
      .sub-menu {
        background-color: rgb(19, 18, 18);
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        color: rgb(154, 150, 145);
        .sub-menu-item {
          padding: 17px;
          text-decoration: none;
          white-space: nowrap;
          color: rgb(154, 150, 145);
          &:hover {
            color: white;
          }
        }
      }
      &:hover {
        .sub-menu {
          display: flex;
        }
      }
    }
  }
}
.titr {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 180px;
  color: #ff0000;
  font-size: 22px;
  text-align: right;
  padding-right: 240px;
  span {
    color: #6a6c6e;
  }
}

.total {
  width: 100%;
  height: 3150px;
  background-color: #f3f2f293;
  margin: 0px auto;
  margin-top: 50px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px 11px;
  padding-top: 90px;
}
.card {
  width: 320px;
  height: 520px;
  background-color: white;
  border: 2px rgb(252, 250, 250);
  border-style: outset;
  img {
    width: 100%;
    height: 230px;
  }

  .card-info {
    width: 100%;
    height: 300px;
    padding: 15px 25px;
    margin: 0 auto;
    .h3 {
      color: red;
      font-size: larger;
      text-align: justify;
    }
    .p {
      height: 115px;
      color: rgb(94, 91, 91);
      line-height: 30px;
      text-align: justify;
      margin-top: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: wrap;
      font-size: 15px;
    }
    .button {
      margin-top: 25px;
      border: 1px solid #7c7d7e;
      border-radius: 5px;
      padding: 9px 26px;
      font-family: iransans, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      color: #7c7d7e;
      background-color: #ffffff;
      margin-button: auto;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
}
.verylightnavar {
  width: 100%;
  height: 70px;
  margin-top: 50px;
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    width: 55px;
    height: 55px;
  }
}
.img1 {
  border-radius: 100%;

  &:hover {
    background-color: #7f95b6;
  }
}
.img2,
.img4 {
  border-radius: 100%;

  &:hover {
    background-color: #76dfbc;
  }
}
.img3 {
  border-radius: 100%;

  &:hover {
    background-color: #ff0000;
  }
}
.img5 {
  border-radius: 100%;

  &:hover {
    background-color: #9c2e4f;
  }
}
.img6 {
  border-radius: 100%;

  &:hover {
    background-color: #8fc24d;
  }
}

.navarred {
  width: 100%;
  height: 25px;
  background-color: #ed1c24;
}

footer .toosi1 {
  width: 100%;
  height: 345px;
  background-color: rgb(38, 37, 37);
  display: flex;
  justify-content: center;
  gap: 20px;
  .col1,
  .col2,
  .col3,
  .col4 {
    display: flex;
    flex-direction: column;
    .smallpic {
      width: 100px;
      height: 80px;
      margin: 0 auto;
    }
    .ziricon {
      padding: 8px 0;
      margin-top: 15px;
      width: 140px;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      color: #ffffff;
      font-size: 14px;
      font-weight: 100;
      padding-right: 23px;
    }
    .subspan {
      margin-top: 10px;
      font-size: 10px;
      color: lightgray;
    }
  }
}
.address1 {
  width: 100%;
  height: 20px;
  background-color: rgb(38, 37, 37);
  display: flex;
  justify-content: center;
  .div1 {
    font-size: 11px;
    color: lightgray;
  }
}
.address2 {
  width: 100%;
  height: 40px;
  background-color: rgb(38, 37, 37);
  display: flex;
  justify-content: center;
  .div2 {
    font-size: 10px;
    color: rgba(240, 240, 240, 0.616);
  }
}
